body {
    font-family: 'Comic Sans MS', sans-serif;  
    background-color: #f7f7f7; 
    margin: 0;
    padding: 20px;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}

h1 {
    text-align: center;
    color: #FF6F61; 
    font-size: 3em;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #333;
    max-width: 800px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
}

.activity {
    background-color: #FFF0B3; 
    border: 2px solid #FFCD38; 
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.activity-title {
    font-size: 2em;
    color: #FF6F61;
    margin-bottom: 10px;
    text-align: center;
}

.activity-description {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.activity-download-link {
    display: block;
    text-align: center;
    background-color: #39635f; 
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: fit-content;
    margin: 0 auto;
}

.activity-download-link:hover {
    background-color: #386e6c; 
}

